.visible{
    display: block;
}
body{
    background-color: #EFEBF3;
}
.grid > li {
  position: relative;
  float: left;
  width: 274px;
  overflow: hidden;
  margin: 5px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}
.grid > li:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid > li div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /* display: block; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
}

.grid {
    margin: 0;
    padding: 0;
    list-style: none;
}

li div.rotate {
  padding: 0;
}
.class1 {
  background: #360358;
}
.class2 {
  background: #a129b8;
}
.class3 {
  background: #b82964;
}
.class4 {
  background: #b85a29;
}
.class5 {
  background: #abb829;
}
.class6 {
  background: #40b829;
}
.class7 {
  background: #29b87d;
}
.class8 {
  background: #2987b8;
}
h3 {
  font-size: 1.55em;
  color: #fff;
  font-weight: 100;
}

.iconbox i {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 20%;
}
.iconbox h3 {
  text-align: center;
}
p {
  font-size: 1em;
  color: #fff;
}
#news li a {
  color: #fff;
  text-decoration: none;
}
.float-right {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border: 5px solid rgba(255, 255, 255, 0.4);
}
.wooyeah {
  overflow: hidden;
}
.animated {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay {
  -webkit-animation-delay: 0.30s;
          animation-delay: 0.30s;
}
.delay-three {
  -webkit-animation-delay: 0.60s;
          animation-delay: 0.60s;
}
.delay-two {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.delay-one {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animated.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
.animated.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}

.navbar-spacer{
    margin-top: 60px;
}

#dashboard-menu{
    position: fixed;
    z-index: 1030;
    background: #FFFFFF;
    right: 0;
    top: 0;
    bottom: 0;
}