body, html {
    padding:0;
    margin:0;
}
body {
    overflow:hidden;
    width:100%;
    height:100%;
    font-family: 'Kreon', serif;
    color:#fff;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

textarea:focus, input:focus{
    outline: 0;
}

#wrapper {
    position: absolute;
    overflow:hidden;
    width:100%;
    height:100%;
}

section {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    overflow:auto;
    left:0;
}

section.dobra1 {
    background-image: url('../images/back.jpg'); 
    background-repeat: no-repeat;
}

section.dobra1 article {
    display:block;
    position:absolute;
    width:505px;
    height:170px;
    top:50%;
    left:50%;
    margin:-85px 0 0 -245px;
}
section.dobra1 article header {
    display:block;
    float:left;
    clear:both;
    width:100%;
    text-align:center;
    margin-top: -70px;
}

section.dobra1 article form {
    display:block;
    float:left;
    clear:both;
    margin:0;
    padding:63px 0 0 128px;
}
section.dobra1 article form input[type=text] {
    display:block;
    float:left;
    background:no-repeat 7px 8px transparent;
    padding:7px 5px 7px 28px;
    border:2px solid #fff;
    width:216px;
    margin:0;
    font-size:9.5pt;
    color:#fff;
    font-weight:300;
}
section.dobra1 article form input[type=submit] {
    display:block;
    float:left;
    color:#fff;
    background: no-repeat 10px 8px;
    border:0;
    margin:0;
    padding:0;
    width:30px;
    height:36px;
    font-size:25pt;
}

section.dobra1 article form input[type=password] {
    display:block;
    float:left;
    background:no-repeat 7px 8px transparent;
    padding:7px 5px 7px 28px;
    border:2px solid #fff;
    width:216px;
    margin:0;
    font-size:9.5pt;
    color:#fff;
    font-weight:300;
}

section.dobra1 nav {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    margin:0;
    padding:0;
}
section.dobra1 ul {
    display:block;
    margin:0;
    padding:0;
    list-style:none;
}
section.dobra1 ul li {
    display:block;
    float:left;
    margin:0 0 0 10px;
    width:34px;
    height:22px;
}
section.dobra1 ul li a {
    display:block;
    width:100%;
    height:100%;
        background:url(../images/bandeirinhas.png) no-repeat;
    overflow:hidden;
    text-indent:-9999px;
}
section.dobra1 ul li a:hover {
    opacity:0.7;
}
section.dobra1 ul li a.pt {
    background-position:top left;
}
section.dobra1 ul li a.en {
    background-position:top right;
}
section.dobra1 ul li a.atual {
    padding-bottom:3px;
    border-bottom:3px solid #fff;
}

   

/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 300;
  src: local('Kreon Light'), local('Kreon-Light'), url(http://fonts.gstatic.com/s/kreon/v9/76aS1J5Mmu41iLp2Z15uBfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
 
}
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(http://fonts.gstatic.com/s/kreon/v9/gK2DcrR6Rzx5Ga9PpDfp3A.woff2) format('woff2');

}
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  src: local('Kreon Bold'), local('Kreon-Bold'), url(http://fonts.gstatic.com/s/kreon/v9/xjKCXsEUnBvIKKUiQZ3MtfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');

}

/*SOCIAL BUTTONS*/

.social-slide {
        height: 48px;
	width: 48px;
	margin: 20px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}
.twitter-hover {
	background-image: url('../images/twitter-hover.png');
}
.facebook-hover {
	background-image: url('../images/facebook-hover.png');
}
.google-hover {
	background-image: url('../images/google-hover.png');
}
.linkedin-hover {
	background-image: url('../images/linkedin-hover.png');
}
.tumblr-hover {
	background-image: url('../images/tumblr-hover.png');
}
.instagram-hover {
	background-image: url('../images/instagram-hover.png');
}
.stumbleupon-hover {
	background-image: url('../images/stumbleupon-hover.png');
}
.rss-hover {
	background-image: url('../images/rss-hover.png');
}

/* SUBMIT BUTTON */

button {
  position:relative;
  margin-top:5%;
  margin-left: 17%;
  background:#808080;
  border:2px solid white;
  padding:20px;
  font-size:0.9em;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  letter-spacing:5px;
  text-transform:uppercase;
  
}

button:hover {
  left:1px;
  top:1px;
  box-shadow:none;
  background:#FFaa00;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}