<div class="modal-header">
    <button type="button" class="close" ng-click="ChannelCtrl.close()" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">My Channels</h4>
</div>
<div class="modal-body">
    <form class="form-inline" name="form_profle" role="form" ng-submit="ChannelCtrl.submit(dashboard)" ng-init="ChannelCtrl.load()">
        <alert ng-repeat="alert in ChannelCtrl.alerts" type="{{alert.type}}" close="ChannelCtrl.alerts.splice($index, 1)">{{alert.message}}</alert>
        <div class="form-group form-group-lg">
            <label>Address</label>
            <input type="text" ng-model="ChannelCtrl.channel.address" class="form-control" name="address">
        </div>
        <div class="form-group form-group-lg">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
        </div>
    </form>
    <table class="table" style="margin-top: 3em;">
        <tr ng-repeat="c in ChannelCtrl.channels track by $index">
            <td>{{c}}</td>
            <td><button class="btn btn-primary btn-block btn-sm" ng-click="ChannelCtrl.unsubscribe($index, dashboard)">unsubscribe</button></td></tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ChannelCtrl.close()">Close</button>
</div>